body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(231, 248, 213);
}


.heading {
    text-align: center;
}

.description {
    font-size: 15px;
    color: rgb(26, 25, 25);
    text-align: center;
}


/** 1 **/
.button {
    color: white;
    background-color: rgb(43, 100, 43);
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0.2rem;
    cursor: pointer;
    margin: 2rem;
    margin: auto;
    display: block;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
}


.footer .link {
    color:  rgb(43, 100, 43);
    font-size: 1.2rem;
    padding-inline-start: 20px;
    display: inline;

}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
    text-align: center;
    padding: 1rem 2rem;
    padding-top: 8rem;

}

.list-item-inline {
    list-style: none;
    display: inline;
}

.input {
    border-radius: 0.2rem;
    height: 40px;
    width: 200px;
    border-color: rgb(43, 100, 43);
    margin: auto;
    display: block;
}


.table {
    width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}

.table caption {
    font-size: x-large; 
    text-align: center;
    margin: 1rem auto;
    font-weight: 500;
}

th,
td {
  border: 2px solid black;
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}

.error{
    text-align: center;
}
